@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu {
    @apply font-bold text-xl text-gray-700 block  w-52 text-center
    py-2 transition duration-200 ease-in-out cursor-pointer hover:bg-rose-300 hover:text-2xl;
  }
  .mediaBtn {
    filter: invert(87%) sepia(53%) saturate(1499%) hue-rotate(287deg)
      brightness(127%) contrast(107%);
  }
  .mediaContainer {
    @apply w-8 h-8 flex justify-center items-center rounded-[4px] hover:scale-125 active:scale-100 transition cursor-pointer;
  }
  .rightMenu {
    @apply hover:rotate-90 hover:scale-125 hover:font-bold transition ease-in-out py-6 cursor-pointer;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  position: relative;

  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body::after {
  content: "";
  background: url(/public/hero-img.png);
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
